/* ------------------------------------------------  
            media query for mobile device start
------------------------------------------------ */

@media only screen and (max-width: 668px) {
    .flaxibal-continar {
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .half-width h1 {
        width: 278px;
        height: 138px;
        margin-left: 90px;
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 36px;
      }
    .half-width img {
        width: 329px;
        height: 259.17px;
        margin-left: 150px;
        margin-top: 100px;
      }
    .search-match-img img {
      width: 328px;
      height: 248px;
      left: 16px;
      top: 7082px;
    }
        
    .search-match-cotainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .partners
    {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  
    
  @media only screen and (max-width: 320px) {
    
    .flaxibal-continar {
        justify-content: space-around;
        flex-wrap: wrap;
      }
  
      .half-width h1 {
          width: 250px;
          height: 130px;
          margin-left: 80px;
          margin-top: 100px;
          margin-bottom: 100px;
          font-size: 30px;
        }
      .half-width img {
          width: 300px;
          height: 240.17px;
          margin-left: 120px;
          margin-top: 100px;
        }
      .search-match-img img {
        width: 328px;
        height: 248px;
        left: 16px;
        top: 7082px;
      }
          
      .search-match-cotainer {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .partners
      {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
    /* ------------------------------------------------  
            media query for mobile device End
      --------------------------------------------- */