/*------------------------------------------------ 
                Fonts 
------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ------------------------------------------------ 
            Common Style 
------------------------------------------------ */

body
{
    font-family: 'Poppins', sans-serif; 
    background-color: #FFFFFF;
}

/*------------------------------------------------
            Top Banner Style 
 ------------------------------------------------*/

.flaxibal-continar
{
    display: flex;
    background: #2D25A0;
    justify-content: space-between;
}


.half-width h1
{
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin: 153px 0px 86px 156px ;
}

.half-width img
{
    background: url(1648334-world-cup-football-player-kick-off-football-kick-football-png-980_772_preview.png);
    width: 556.01px;
    height: 438px;
    margin: 153px 100px 86px 40px ;
    transition: transform 1s;
}
.half-width img:hover
{
    transform: scale(0.8);
}

/*------------------------------------------------ 
            Link Button Style 
------------------------------------------------*/

.link-button
{
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 24px;
    color: black;
    margin-top: 27px;
    margin-left: 156px;
    transition: 1.3s;
}
.fa-arrow-right
{
    padding-left: 8px;
}

.link-button:hover {
    background-color: #3e8e41;
    color: white;
  }
/* ------------------------------------------------
        First Class Player Blog Style 
-------------------------------------------------*/

.football-player-blogs
{
  display: flex;
  justify-content: center;
  grid-gap: 15px;
  flex-wrap: wrap;
  margin-top: 60px;
  
}

.blogs
{
    background: #FFFFFF;
    margin-left: 30px;
    box-shadow: 0px 0px 40px
    rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 474px;
    border-radius: 6px;
}
.blogs .blog img
{
    width: 300px;
    height: 256px;
    margin: 15px 15px 0px 15px;
}
.blog-info
{
    
    text-align: left;
    margin: 16px 15px 33px 15px;
}

.blog-title
{
    color: #18191F;
    font-size: 28px;
    font-weight: 700;  
}
.blog-author 
{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
}


/* ------------------------------------------------ 
            search filter style 
 ------------------------------------------------ */
.search-match-cotainer {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  
  .search-match-img img {
    width: 488px;
    height: 343px;
    border-radius: 50px;
  }
  
  .search-match-details {
    padding: 36px;
  }
  .search-match-details h1 {
    text-align: left;
    font-size: 30px;
    margin-left: 80px;
  }
  .search-match-details select {
    margin-top: 20px;
    padding: 10px 154px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .search-match-details a {
    padding: 10px 196px;
    background-color: #7a2ce0;
    color: white;
    text-decoration: none;
    transition: all 1s ease-in-out;
  }
  .search-match-details a:hover {
    background-color: #100dc2;
    border-radius: 10px;
  }
  .search {
    margin-top: 20px;
  }
  
/* ------------------------------------------------ 
                Videos Style
 ------------------------------------------------  */
.videos h1
{
    text-align: left;
    font-size: 30px;
    margin-left: 80px;
    margin-top: 100px;

}
.video-part
{
    
  display: flex;
  justify-content: center;
  grid-gap: 15px;
  flex-wrap: wrap;
  margin-top: 60px;
  margin: 10px 10px 65px 100px;
   
}

/* ------------------------------------------------ 
                Media Partners style
 ------------------------------------------------  */

.main-partners h1

{
    text-align: left;
    font-size: 30px;
    margin-left: 80px;
}
.partners
{
    display: flex;
    margin-left: 200px;

}

.partners .partner img
{
    margin-top: 30px;
    width: 160px;
    height: 80px;
    box-shadow: 10px 10px 40px gray;
}



/* ------------------------------------------------ 
                Footer Style
 ------------------------------------------------  */

footer
{
    text-align: center;

}
.banner img
{
    margin-top: 158px;
    width: 483.87px;
    height: 110px;
}

a 
{
    text-decoration: none;
    
}
.footer-link img
{
    width: 32px;
    height: 32px;
    margin-left: 14px;
}
footer p 
{
 font-size: 18px;
 font-weight: 400;
}
